h2.ui.blue.horizontal.header.divider Profile
div.ui.card
    div.image
        img
    div.content
        a.header {{ user.username }}
        div.meta
            span.date Aug 2016
        div.description This is testing profile
    div.extra.content
        a
            i.game.icon
            | 8 Games
