h2.ui.blue.horizontal.header.divider Releases {{ ::root.platform | platform }}
div.ui.dimmer.inverted(ng-class='(vm.releases.docs.length < 1)? "active" : ""')
    div.ui.text.loader Loading
table.ui.celled.table(ng-show='vm.releases.docs.length > 0')
    thead
        tr
            th Title
            th Type
            th Region
            th Publisher
            th(ng-if='root.releasesAll') Platform
    tbody
        tr(ng-repeat='release in vm.releases.docs')
            td#title(ng-bind='release.title')
            td#type(ng-bind='release.type | type')
            td#region(ng-bind='release.region | region')
            td#publisher(ng-bind='release.publisher')
            td#platform(ng-if='root.releasesAll', ng-bind='release.platform | platform')
    tfoot
        tr
            th(ng-if="!root.releasesAll", colspan='4')
                ng-paginate(paginate-data="vm.releases")
            th(ng-if="root.releasesAll", colspan="5")
                ng-paginate(paginate-data="vm.releases")