h2.ui.blue.horizontal.header.divider Releases
div.ui.dimmer.inverted(ng-class='(vm.releases.length < 1)? "active" : ""')
    div.ui.text.loader Loading
table.ui.celled.table(ng-show='vm.releases.length > 0')
    thead
        tr
            th Title
            th Type
            th Region
            th Publisher
    tbody
        tr(ng-repeat='release in vm.releases')
            td(ng-bind='release.title')
            td(ng-bind='release.type | type')
            td(ng-bind='release.region | region')
            td(ng-bind='release.publisher')