h2.ui.blue.horizontal.header.divider Releases {{ ::root.platform | platform }}
div.ui.dimmer.inverted(ng-class='(vm.releases.length < 1)? "active" : ""')
    div.ui.text.loader Loading
table.ui.celled.table(ng-show='vm.releases.length > 0')
    thead
        tr
            th Title
            th Type
            th Region
            th Publisher
            th(ng-if='root.releasesAll') Platform
    tbody
        tr(ng-repeat='release in vm.releases')
            td#title(ng-bind='release.title')
            td#type(ng-bind='release.type | type')
            td#region(ng-bind='release.region | region')
            td#publisher(ng-bind='release.publisher')
            td#platform(ng-if='root.releasesAll', ng-bind='release.platform | platform')