div.ui.fixed.menu
    div.ui.container
        a.header.item(href='#') Project Name
        a.item(href='#') Home
        div.ui.simple.dropdown.item Dropdown
            i.dropdown.icon
            div.menu
                div.header Header
                a.item(href='#') Item
                div.divider