div.ui.fixed.menu.borderless
    div.ui.container
        a.header.item(href='#') 
            //- img.logo(src="assets/images/psc-logo.jpg")
            | PS-Collection
        a.item(ui-sref='home') Home
        div.ui.simple.dropdown.item Menu
            i.dropdown.icon
            div.menu
                div.header Users
                a.item(ui-sref='home.profile') My profile
                a.item(href='#') Other users
                div.divider
                div.header Games
                a.item(href='#') PS3
                a.item(href='#') PS4
        a.item.right(ui-sref='home.signin', ng-if='!user.id') Sign In
        a.item.right(ui-popup, ng-if='user.id') Profile
        div.ui.custom.popup.bottom.left.transition.hidden
            div.ui.column.divided.center.aligned.grid
                div.column
                    h4 Profile
                    p Place your info
                    div
                        a(href='#') Open profile
                    div
                        a(href='#', ng-click='logout($event)') Logout