//Semantic-UI Override
.ui.menu .item img.logo {
  margin-right: 1.5em;
}

.ui.breadcrumb {
  padding-top: 5em;
  padding-bottom: 2em;
}

.column {
    max-width: 450px;
}

//My style
.hidden {
  display: none !important;
}